@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat;
  }
  body {
    @apply font-lato;
  }
}
