APP_ENV=staging

############
## client ##
############

VITE_API_URL=http://localhost:5000/coreapi


##############
## core api ##
##############

# JWT_SECRET to generate with e.g. openssl rand -base64 120
# Needs to be in double quotes as certain unescaped characters break docker compose up

API_PORT=4000
TEST_USER_PASSWORD=
JWT_SECRET=


##############
## postgres ##
##############

DB_HOST=staging-medapi_postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=password


############
## mailer ##
############

# this config is meant to work with brevo SMTP server 
# create an account here https://app.brevo.com/
# and see docs here : https://developers.brevo.com/docs/node-smtp-relay-example

MAILER_HOST=staging-mailer
MAILER_PORT=3310
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

############
## cache  ##
############

REDIS_HOST=staging-cache
REDIS_PORT=6379
REDIS_PASSWORD=


############
## upload ##
############

UPLOAD_HOST=upload
UPLOAD_PORT=3210